# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# mine --------------
# Ignore object files, binaries, and other build artifacts
*.o
*.ko
*.mod
*.mod.o
*.mod.c
*.symvers
*.order
*.markers
*.cmd

# Ignore temporary files
*.tmp

# Ignore backup files
*~
*.bak

# Ignore kernel build directories
/Module.symvers
/Module.markers
/Module.order

# Ignore compiled Python files, in case scripts are included
__pycache__/
*.py[cod]

# Ignore log files and dumps
*.log
*.dmp

# Ignore patch files
*.patch
